<!-- mission Section -->
<section id="mission">
  <div
    class="container vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="row w-100">
      <div class="col align-self-start text-center">One of three columns</div>
      <div class="col align-self-center text-center fw-bold">
        One of three columns111
      </div>
      <div class="col align-self-end text-center">One of three columns</div>
    </div>
  </div>
  <div
    class="container vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="row w-100">
      <!-- Left Column: Text -->

      <div
        class="col align-self-center text-center fw-bold mx-auto"
        style="
          width: 50%;

          /* display: flex;
          align-items: center;
          justify-content: center; */
        "
      >
        <h2 class="section-heading">Mission</h2>
        <p class="lead">
          To empower students with computational thinking and programming
          skills, enabling them to actively contribute to the future digital
          economy
        </p>
        <h2 class="section-heading">Vision</h2>
        <p class="lead">
          To make programming and computational thinking accessible to everyone
          in the world, empowering both students and teachers to explore and
          master a wide range of coding topics.
        </p>
      </div>
    </div>
  </div>
</section>
